{% extends "base_generic.html" %}

{% block sidebar %}
  {% if user.is_authenticated %}
  <div class="col-sm-2 col-sm-offset-1">
  <nav class="navbar bg-danger">
    <ul class="sidebar-nav">
      <li class="nav-item text-white">User: {{ user.get_username }}</li>
      <li class="nav-item" ><a class="nav-link text-white" href="{% url 'paziente-scheda' %}">Scheda</a></li>
      <li class=nav-item><a class="nav-link text-white" href="{% url 'logout'%}?next={% url 'access' %}">Logout</a></li>
    </ul>
  </nav>
  </div>
  {% endif %}
{% endblock %}

{% block content %}

  <h3>Priorità</h3>

  <p><strong>Colore:</strong> {{ priority.color }}</p>
  <p><strong>Descrizione: </strong> {{priority.description}}</p>
  <p><strong> Durata dell'operazione: </strong> {{time_str}} h/min/sec </p>

{% endblock %}
