{% extends "base_generic.html" %}

{% block content %}
<div class="container">
<div>
{% if form.errors %}
  <p><strong>I tuoi username e password non corrispondono. Per favore prova di nuovo.</strong></p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p><strong>Il tuo account non dispone dei permessi necessari per visualizzare questa pagina.</strong></p>
  {% else %}
    <p><strong>Per favore effettua il login.</strong></p>
  {% endif %}
{% endif %}
</div>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input class="btn btn-danger " type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div>
<p></p>
<p><a href="{% url 'password_reset' %}" class="btn btn-danger " role="button">Smarrito la password?</a></p>
<p><a href="{% url 'access' %}" class="btn btn-danger " role="button">Indietro</a></p>
</div>
</div>
{% endblock %}
