{% extends "base_generic.html" %}

{% block sidebar %}
  {% if user.is_authenticated %}
  <div class="col-sm-2">
  <nav class="navbar bg-danger">
    <ul class="sidebar-nav">
      <li class="nav-item text-white">User: {{ user.get_username }}</li>
      <li class="nav-item" ><a class="nav-link text-white" href="{% url 'paziente-scheda' %}">Scheda</a></li>
      <li class=nav-item><a class="nav-link text-white" href="{% url 'logout'%}?next={% url 'access' %}">Logout</a></li>
    </ul>
  </nav>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if paziente %}
  <div class="center-block">
    <h3>Scheda Paziente</h3>
  </div>

  <p><strong>Nome: </strong> {{paziente.first_name}} {{paziente.last_name}}</p>
  <p><strong>Ora di arrivo:</strong> {{paziente.t_arrival}}</p>
  <p><strong>Codice di Priorità: </strong> {{ paziente.priority_code }} <a href=" {% url 'priority-detail' paziente.priority_code.pk %} " class="btn btn-danger btn-sm" role="button">Dettagli</a></p>
  <p><a href=" {%url 'time_total' %}" class="btn btn-danger " role="button">Attesa</a></p>
  {% else %}
  <p><strong>Il tuo utente non ha associato nessun paziente</strong></p>
  {% endif %}
{% endblock %}
