{% extends "base_generic.html" %}

{% block sidebar %}
  {% if user.is_authenticated %}
  <ul class="sidebar-nav">
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'paziente-scheda' %}">Scheda</a></li>
    <li><a href="{% url 'logout'%}?next={% url 'access' %}">Logout</a></li>
  </ul>
  {% endif %}
{% endblock %}

{% block content %}
  {% if paziente %}
  <div class="center-block">
    <h1 class="text-danger">Name: {{paziente.first_name}} {{paziente.last_name}}</h1>
  </div>

  <p><strong>Time of Arrival:</strong> {{paziente.t_arrival}}</p>
  <p><strong>Priority Code: </strong><a href=" {% url 'priority-detail' paziente.priority_code.pk %} ">{{ paziente.priority_code }}</a></p>
  <p><a href=" {%url 'time_total' %}">Waiting Time</a></p>
  {% else %}
  <p><strong>You don't have a paziente on your user</strong></p>
  {% endif %}
{% endblock %}
