{% extends "base_generic.html" %}

{% block sidebar %}
  {% if user.is_authenticated %}
  <div class="col-sm-2">
  <nav class="navbar bg-danger">
    <ul class="sidebar-nav">
      <li class="nav-item text-white">User: {{ user.get_username }}</li>
      <li class="nav-item" ><a class="nav-link text-white" href="{% url 'paziente-scheda' %}">Scheda</a></li>
      <li class=nav-item><a class="nav-link text-white" href="{% url 'logout'%}?next={% url 'access' %}">Logout</a></li>
    </ul>
  </nav>
  </div>
  {% endif %}
{% endblock %}

{% block content %}

  <h3>Tempo di attesa</h3>

  <p>Ti chiediamo di attendere all'incirca ancora per: {{ time_tot }} h/min/sec</p>

{% endblock %}
